@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
$colorbg1: rgb(235, 211, 195);
$colorbg2: rgb(10, 151, 161);
$colorbg3: rgb(19, 88, 107);
$font: "Playfair Display" serif;
$fontsize1: 40px;
$fontsize2: 30px;
$fontsize3: 20px;

* {
    margin: 0;
    padding: 0;
}

.container-fluid{
  width: 100%;
  margin: 0 auto;
  
}

body {
margin: 0;
padding: 0;
font-family: $font;
background-color: grey;

}

/*Header*/
header {
  background-image: linear-gradient($colorbg1, $colorbg2);
  
 }



h1 {
  display:inline-flex;
  align-content: center;
  margin: auto;
  font-size: $fontsize1;
  font-family: $font;
  color: black;
}

h2 {
  font-size: $fontsize2;
  font-style: normal;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: rgb(235, 211, 195);
}
/*Footer*/
footer {
  font-family: $font;
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-color:$colorbg3;
  }

.card mb-3 {
  display: flex;
  padding: 10px;
  margin: 20px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  font-family: $font;
  font-size: $fontsize3;
  .card-body{
    background-color: black;
    justify-content: center;
    border: solid 4px ;
          ul li {
            text-align: center;
            align-items: center;
            font-size: 15px;
            font-family: $font;
            color: black;
        }
    }
  }

/*Formulario de contacto*/
#container {
    display: inline-block;
    font-size: 20px;
    font-family: $font;
    align-items: center;
    justify-content: center;
}

.fa-envelope {
  font-size: 20px;
}

.fa-map-marker-alt {
  font-size: 20px;
}

.fa-ice-cream {
  font: size 30px;
}


/*MEDIA QUERIES*/

/*RESOLUCION PARA DISPOSITIVOS MOVILES MUY PEQUEÑOS*/
@media (max-width: 575px) {
}
/*RESOLUCION PARA DISPOSITIVOS MOVILES PEQUEÑOS*/
@media (min-widht: 576px) and (max-widht: 767px) {
}

/*Resolucion para tablets*/
@media (min-widht: 768px) and (max-widh: 991px) {
}

/*RESOLUCION PARA PC DE ESCRITORIO*/
@media (min-width: 992px) {
}
